@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F1F1F;
  height: fit-content;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #696b6c;
  background-color: #6EB1D6;
  color: white;
  margin: 2rem auto;
  padding: 1rem;
  width: calc(100% - 256px); /* subtract sidebar width */
  margin-left: 256px;         /* match sidebar width */
  height: fit-content;
  box-shadow: 0 5px 7px #0000004d;
}
.section-header{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1em;
  margin-bottom: 1rem;
}

.mainInput{
  box-sizing: border-box;
  background: #404040;
  border: 1.5px solid #e9e9e98c;
  width: 100%;
  transition: 0.3s;
}

.mainInput::placeholder{
  color:#ffffff;
}

.mainInput:focus{
  border-color: #a361ef;
  outline: none;
}

@media (prefers-color-scheme: light){
  body{
    background: #fff;
  }  
  .container{
    background: #e9e9e9;
    color: #38393a
  }
  .mainInput{
    background-color: #fff;
    border-color: #8b8c8d;
  }
  .mainInput::placeholder{
    color: #00000061;
  }
}
